@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Balinese&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Balinese', serif;
}

body {
  min-height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
  background: rgb(24, 25, 26);
}

header .logo {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
}

header.sticky {
  padding: 5px 100px;
  background: #0376fa;
  border-bottom: 1px solid rgb(0, 0, 0);
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}

.banner {
  width: 100%;
  min-height: 100vh;
  background: url(../IMGS/img1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.banner h2 {
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}

.banner h2 span {
  color: #000;
}

.sec {
  background: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  max-width: 100%;
  margin-top: 10px;
}

.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.img1 {
  width: 250px;
  height: 250px;
}

.btn {
  display: inline-block;
  background: #ace216;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  max-width: 100%;
  margin-top: 50px;
}

.services .box {
  width: 250px;
  margin: 0 auto;
  background: #fff;
  padding: 15px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 5);
}

.services .box .iconBx {
  margin-top: 25px;
}

.services .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.services .box h2 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.stats {
  background: #000;
  padding-top: 250px;
  margin-top: -250px;
}

.stats h3,
.stats p {
  color: #fff;
}

.statsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
}

.statsBox .box {
  width: 250px;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 5);
}

.statsBox .box .iconBx {
  margin-top: 25px;
}

.statsBox .box .iconBx img {
  max-width: 70px;
  margin-bottom: 15px;
}

.statsBox h2 {
  color: #fff;
  font-size: 36px;
}

.statsBox h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.workBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;
}

.workBx .brand1 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand1:hover {
  background: url(../IMGS/fon1.png);
}

.workBx .brand1 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand2 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand2:hover {
  background: url(../IMGS/fon2.png);
}

.workBx .brand2 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand3 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand3:hover {
  background: url(../IMGS/fon6.png);
}

.workBx .brand3 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand4 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand4:hover {
  background: url(../IMGS/fon1.png);
}

.workBx .brand4 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand5 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand5:hover {
  background: url(../IMGS/fon4.png);
}

.workBx .brand5 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand6 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand6:hover {
  background: url(../IMGS/fon5.png);
}

.workBx .brand6 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand7 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand7:hover {
  background: url(../IMGS/fon7.png);
}

.workBx .brand7 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}

.workBx .brand8 {
  position: relative;
  background: #ace216;
  height: 330px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.workBx .brand8:hover {
  background: url(../IMGS/fon8.png);
}

.workBx .brand8 a {
  text-decoration: none;
  color: rgba(3, 3, 3, 0.966);
  text-transform: uppercase;
  text-align: center;
}


.teamBx {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  max-width: 100%;
  margin-top: 40px;
}

.teamBx .member {
  position: relative;
  background: #e2d302;
  min-height: 350px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.teamBx .member .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team .member .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teamBx .member .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d5ec05;
  transition: 0.2s;
  opacity: 0;
}

.teamBx .member .details:hover {
  opacity: 1;
}

.teamBx .member .details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.teamBx .member .details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300;
}

/* Slider */

.slider{
  position:relative;
}

.slider-items{
  overflow: hidden;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slider-items .item{
  display: none;
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  animation: fade-out 1s;
}

.slider-items .item img{
  max-width: 100%;
  display:block;
}

.slider-items .item.active{
  display:block;
}

.slider-items .item .caption{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height :60px;
  text-align: center;
  color: #000;
  background: rgba(255,255,255,0.5);
  font-size: 20px;
}

.slider .left-slide, .slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #444444;
  color: #fff;
  font-size:20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease;
  top:50%;
  transform: translateY(-50%);
}

.slider .leftslide{
  left:10px;
}

.slider .right-slide{
  right: 10px;
}

.slider .left-slide:hover,
.slider .right-slide:hover{
  background: #46a2fd;
}


.contact {
  background: #f4f808fa;
}

.contact h3,
.contact p {
  color: #000;
}

.contactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}

.contactForm form {
  width: 100%;
}

.contactForm .row100 {
  display: flex;
  width: 100%;
}

.contactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}

.contact .row100 input,
.contactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #000;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}

.contactForm .row100 textarea {
  height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
  color: #fff;

}
.contactForm .row100 input[type="submit"] {
  background: #fff;
  color: #000;
  max-width: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500px;
}

#text{
  display:block;
  color:#000;
  font-weight: 500;
  padding:1px;
  text-align: left;
  margin-top: -10px;
}

#text2{
  display:block;
  color:#000;
  font-weight: 500;
  padding:1px;
  text-align: left;
  margin-top: -10px;
}

#text3{
  display:block;
  color:#000;
  font-weight: 500;
  padding:1px;
  text-align: left;
  margin-top: -10px;
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.sci ul {
  display: flex;
}

.sci ul li {
  list-style: none;
}

.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}

.sci ul li a img {
  filter: invert(1);
  max-width: 40px;
}

.sci ul li a:hover img {
  opacity: 0.5;
}

#button-up {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid transparent;

  position: fixed;
  bottom: 50px;
  right: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 20px;

  transition: all 300ms ease;
  transform: scale(1);
  box-shadow: 0px 20px 25px rgba(0,0,0,0.5);
}

#button-up:hover{
  transform: scale(1.1);
  border-color: rgba(0,0,0,0.1);
}

@media (max-width: 992px) {
  .toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .toggle:before {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5%;
  }

  .toggle:after {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transition: 0.5%;
  }

  header,
  header.sticky {
    padding: 5px 50px;
    background: #0376fa;
  }

  header .logo,
  header ul li a {
    color: #000;
  }

  header ul {
    position: absolute;
    top: 59px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    visibility: hidden;
    background: #fff;
    opacity: 0;
  }

  header.active ul {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }

  header.active ul li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
  }

  .banner {
    background-position: center;
  }

  .banner h2 {
    font-size: 60px;
    padding: 0 50px;
  }

  .sec {
    padding: 100px 50px 50px 50px;
  }

  .services .box {
    width: 100%;
  }

  .stats {
    padding-top: 250px
  }

  .row100 {
    flex-direction: column;
  }

  .contactForm .row100 .inputBx50,
  .contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0;
  }

  .sci {
    margin: 20px;
  }

  .sci ul li a img {
    font-size: 24px;
  }
}